* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.App {
  width: 800px;
}
.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
}
.decor {
  text-align: center;
  font-size: 35px;
  color: cornflowerblue;
  font-weight: bold;
  margin-top: 5%;
}

.post-enter {
  transform: translateY(-350px);
}
.post-enter-active {
  transform: translateY(0);
  transition: all 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  transform: translateY(100px);
  transition: all 500ms ease-in;
}

.page__wrapper {
  margin-top: 30px;
  display: flex;
}
.page {
  padding: 10px;
  border: 1px solid teal;
  cursor: pointer;
}
.page__current {
  border: 3px solid orange;
  font-weight: bold;
}

.navbar {
  height: 50px;
  width: 100%;
  padding: 0 15px;
  background-color: lightgray;
  margin-bottom: 20px;
}

.navbar__links {
  margin-left: auto;
}

.main-page__supTitle {
  margin-top: 20px;
  text-align: center;
}

.navbar__links {
  display: flex;
  justify-content: center;
}

.link {
  margin-top: 10px;
  font-size: 18px;
  text-decoration: none;
  color: #000;
  margin-right: 10%;

  transition: 0.1s linear color;
}

.link:last-child {
  margin-right: 0;
}

.link:hover {
  color: rgb(67, 117, 103);
}

.about__sub div {
  width: 90px;
  height: 90px;
}

.about {
}

.about-sub {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;

  margin-top: 80px;
}

.about-sub__img--size {
  width: 90px;
  height: 90px;
}

.about-sub__image1 {
  background-image: url('../assets/images/html_original_wordmark_logo_icon_146478.svg');
}

.about-sub__image2 {
  background-image: url('../assets/images/css_original_wordmark_logo_icon_146576.svg');
}

.about-sub__image3 {
  background-image: url('../assets/images/javascript_original_logo_icon_146455.svg');
}

.about-sub__image4 {
  background-image: url('../assets/images/Typescript_logo_2020.svg.png');
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}

.about-sub__image5 {
  background-image: url('../assets/images/webpack_plain_logo_icon_146297.png');
}

.about-sub__image6 {
  background-image: url('../assets/images/c_original_logo_icon_146611.svg');
}

.about-sub__image7 {
  background-image: url('../assets/images/sass_original_logo_icon_146350.svg');
}

.about-sub__image8 {
  background-image: url('../assets/images/file_type_scss_icon_130177.svg');
}

.about-sub__image9 {
  background-image: url('../assets/images/bootstrap_plain_logo_icon_146619.svg');
}

.about-sub__image10 {
  background-image: url('../assets/images/react_original_wordmark_logo_icon_146375.svg');
}

.about-sub__image11 {
  background-image: url('../assets/images/blender-3521310-2944729.webp');
}

.about-sub__image12 {
  background-image: url('../assets/images/Photoshop_CC_icon.png');
}

.about-sub__image13 {
  background-image: url('../assets/images/file_type_git_icon_130581.svg');
}

.about-sub__image14 {
  background-image: url('../assets/images/github_git_hub_logo_icon_132878.svg');
}

.about-sub__image15 {
  background-image: url('../assets/images/gitlab_original_logo_icon_146503.svg');
}
